html, body {
  height: 100%;
  margin: 0;
}

body {	
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f4f7;
    color: #333;
    text-align: center;
}

nav {
    background-color: #242832;
    color: white;
    padding: 0px 0;
    height: 50px;
    position: fixed;
    width: 100%;
    border-bottom: 2px solid rgb(29, 30, 38);
}

.navcontainer {
    position: relative;
    text-align: left;
    box-sizing: border-box;
    width: 90%;
    height: 50px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

.container{
    display: flex;
    flex-direction: column;
    min-height: 729px;
    width: 100%;
    background-color: #242832;
    align-items: center;
    justify-content: center;
}

#displayarea {
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    flex-grow: 1;
    min-height: 0px;
    max-height: 1000000000000000000000000000000vh;
    width: 60%;
    padding-top: 60px;
}

.search-bar{
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    position: fixed;
    width: 60%;
    gap: 0px;
    left: 50%;
    transform: translateX(-50%);
    justify-content: center;
    align-items: center;
    background-color: #1d1e26;
    border-radius: 50px;
    height: 50px;
    box-shadow: #333;
    max-width: 950px;
    top: 650px;
}

input{
    display: flex;
    border: none;
    outline: none;
    color: white;
    width: 85%;
    font-size: 22px;
    background-color: #1d1e26;
}

.input{
    position: relative;
    display: flex;
}

#Button{
    display: flex;
    position: relative;
}

button{
    display: flex;
    border-radius: 50px;
    left: 4%;
}

button:hover{
    cursor: pointer;
}

button svg{
    pointer-events: none;
}

#Button svg{
    pointer-events: none;
}

.about{
    text-align: center;
    justify-content:center;
    width: 60%;
}

.about p{
    color: white;
}
